body{
    background-color: rgb(51, 2, 2);
}
h1 {
   font-family: 'Times New Roman', Times, serif;
        color: rgba(228, 231, 9, 0.815);
    }
h2 {
    color: rgb(238, 255, 0);
}
h3 {
    color: yellow;
}

    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(253, 252, 252, 0.897);
    }